<app-alert></app-alert>
<mat-card style="margin-bottom: 10px;">
  <mat-card-header class="mat-card-header" >
    <div class="clr-row" style="width: 100%; margin-bottom: 10px;">
      <div class="clr-col-12">
        <div class="btn-group btn-primary" style="float: right">
          <button class="btn btn-info-outline" (click)="startProcess()">Start new process</button>
        </div>
      </div>
    </div>
  </mat-card-header>
</mat-card>
