<div >
  <div class="clr-row">
    <div class="clr-col-lg-12"><h3>Task:</h3></div>
    <div class="clr-col-lg-12">{{currentTask | json}}</div>
  </div>

  <div class="clr-row">
    <div class="clr-col-lg-12"><h3>Activity:</h3></div>
    <div class="clr-col-lg-12">{{currentTask.activity | json}}</div>
  </div>
</div>


