<clr-datagrid [(clrDgSelected)]="internalFilterElements" (clrDgSelectedChange)="onInternalElementsChange()">
  <clr-dg-column>Element ID</clr-dg-column>
  <clr-dg-column>Name</clr-dg-column>
  <clr-dg-column>Description</clr-dg-column>
  <clr-dg-column>Type</clr-dg-column>
  <clr-dg-row *clrDgItems="let element of availableElements" [clrDgItem]="element" [clrDgSelected]="element.selected">
    <clr-dg-cell>{{element.element.id}}</clr-dg-cell>
    <clr-dg-cell>{{element.element.name}}</clr-dg-cell>
    <clr-dg-cell>{{element.element.description}}</clr-dg-cell>
    <clr-dg-cell>{{element.element.elementType}}</clr-dg-cell>
  </clr-dg-row>
</clr-datagrid>
