<app-alert></app-alert>
<mat-card style="height: 80vh;">
  <mat-card-header class="mat-card-header">
    <div class="clr-row" style="width: 100%; height: 100%">
      <div class="clr-col-lg-12">
        <div class="clr-row">
          <div class="clr-col-4">
            <h3 class="card-header">Latest executed activity:</h3>
            <app-tasklist-element [task]="latestExecuted"></app-tasklist-element>
          </div>
          <div class="clr-col-8">
            <mat-expansion-panel [expanded]="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Tasks from your last active process instance.
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="clr-row">
                <div *ngFor="let element of belongingToProcessInstanceTasks">
                  <div class="clr-col-6">
                    <app-tasklist-element [task]="element"></app-tasklist-element>
                  </div>
                </div>
              </div>
            </mat-expansion-panel>
          </div>
        </div>

      </div>
    </div>
  </mat-card-header>
  <mat-divider style="margin-top: 10px; margin-bottom: 20px;"></mat-divider>
  <mat-card-content class="fixed-content" >

<!--    <div *ngIf="latestExecuted.id === null">-->
<!--      No task executed yet.-->
<!--    </div>-->
<!--    <div *ngIf="latestExecuted.id !== null">-->
<!--      {{latestExecuted | json}}-->
<!--    </div>-->

<!--    <div *ngFor="let task of belongingToProcessInstance">-->
<!--      <div *ngIf="task.visible">-->


<!--        {{getTaskById(task.taskId) | json}}-->
<!--      </div>-->
<!--    </div>-->

<!--    <button (click)="test()">Test</button>-->

    <mat-expansion-panel [expanded]="true" style="margin-top: 10px;">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Tasks similar to the latest executed task.
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="clr-row">
                <div *ngFor="let element of similarTasks">
                  <div class="clr-col-6">
                    <app-tasklist-element [task]="element"></app-tasklist-element>
                  </div>
                </div>
      </div>
    </mat-expansion-panel>
  </mat-card-content>

</mat-card>
