<div style="max-height: 70vh">
  <div *ngFor="let w of tasklist.tasks">
    <app-tasklist-element
      *ngIf="w.visible"
      (click)="selectTask(w)"
      [task]="w"
      [color]="getColor(w)"
    >
    </app-tasklist-element>
  </div>

</div>

