<div *ngIf="attribute && instance">
  <mat-form-field style="width: 100%"
                  matTooltip="{{attribute.description}}">
    <mat-label>{{attribute.name}}</mat-label>
    <input matInput [(ngModel)]="instance.value"
           [disabled]="disabled">
  </mat-form-field>
</div>
