<div class="clr-row">
  <div class="clr-col-12">
    <mat-card style="">
      <mat-card-header class="mat-card-header">
        <div class="clr-col-12">
          <h3>Attributes</h3>
        </div>
        <br>
      </mat-card-header>
      <mat-divider style="margin-top: 10px; margin-bottom: 10px;"></mat-divider>
      <mat-card-content class="fixed-content">
        <div class="scrollable-content" style="">
          <clr-datagrid>
            <clr-dg-column>Attribute ID</clr-dg-column>
            <clr-dg-column>Name</clr-dg-column>
            <clr-dg-column>Description</clr-dg-column>
            <clr-dg-column>Type</clr-dg-column>
            <clr-dg-column>Remove</clr-dg-column>
            <clr-dg-column>Edit</clr-dg-column>
            <clr-dg-row *clrDgItems="let attribute of attributes" [clrDgItem]="attribute">

              <clr-dg-cell>{{attribute.id}}</clr-dg-cell>

              <clr-dg-cell>{{attribute.name}}</clr-dg-cell>
              <clr-dg-cell>{{attribute.description}}</clr-dg-cell>
              <clr-dg-cell>{{attribute.attributeType}}</clr-dg-cell>
              <clr-dg-cell (click)="delete(attribute)">
                <cds-icon shape="trash"></cds-icon>
              </clr-dg-cell>
              <clr-dg-cell (click)="edit(attribute)" clr-align-center>
                <cds-icon shape="pencil"></cds-icon>
              </clr-dg-cell>
            </clr-dg-row>

            <clr-dg-footer>
              <div class="clr-row">
                <div class="clr-col-1">
                  <button mat-stroked-button style="margin: 3px;" (click)="addAttribute()">Add attribute</button>
                </div>
                <div class="clr-col-11">
                  {{attributes.length}} attributes
                </div>
              </div>
            </clr-dg-footer>
          </clr-datagrid>

        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
