<div class="clr-row">
  <div class="clr-col-12">
    <mat-radio-group [(ngModel)]="intervalBasedRatingInstance.value">
      <mat-radio-button [value]="detail.value" *ngFor="let detail of intervalBasedRating.scale.details">
        <div class="text-over-button">{{detail.label}}</div>
      </mat-radio-button>
    </mat-radio-group>
  </div>
</div>
