<clr-datagrid>
  <clr-dg-column>Activity ID</clr-dg-column>
  <clr-dg-column>Name</clr-dg-column>
  <clr-dg-column>Description</clr-dg-column>
  <clr-dg-column>Attributes</clr-dg-column>
  <clr-dg-column>Roles</clr-dg-column>

  <clr-dg-row *clrDgItems="let activity of activities" [clrDgItem]="activity">

    <clr-dg-cell>{{activity.id}}</clr-dg-cell>

    <clr-dg-cell>{{activity.name}}</clr-dg-cell>
    <clr-dg-cell>{{activity.description}}</clr-dg-cell>
    <clr-dg-cell (click)="addAttribute(activity.id)">
      <cds-icon shape="plus" direction="right"></cds-icon>
    </clr-dg-cell>
    <clr-dg-cell>
      {{activity.roles | json}}
    </clr-dg-cell>

  </clr-dg-row>
  <clr-dg-detail *clrIfDetail="let activity">
    <clr-dg-detail-header>{{activity.name}}: Attributes</clr-dg-detail-header>
    <clr-dg-detail-body>
      <app-attribute-modeling [attributes]="activity.attributes"></app-attribute-modeling>
    </clr-dg-detail-body>
  </clr-dg-detail>

  <clr-dg-footer>{{activities.length}} activities</clr-dg-footer>
</clr-datagrid>

