<div *ngFor="let attribute of attributes">
  <div [ngSwitch]="getAttributeType(attribute)">
    <div *ngSwitchCase="'META'">
      <app-filter-execution-meta-attributes
        [attribute]="getRecproMetaAttribute(attribute)"
        [instance]="getRecproFilterMetaAttributeInstance(attribute)"
      ></app-filter-execution-meta-attributes>
    </div>
    <div *ngSwitchDefault>
      {{attribute.name}}
    </div>
  </div>

</div>
