<mat-accordion >
  <mat-expansion-panel expanded="true" style="margin-top: 40px;">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Processes
      </mat-panel-title>
      <mat-panel-description>
        Select processes that should appear / not appear in your tasklist.
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="clr-row">
      <div *ngFor="let element of bpmElements">

        <div class="clr-col-12" *ngIf="isElementType('PROCESS', element)">
          <app-filter-execution-bpm-element-detail
            [bpmElement]="getBpmElement(element)"
            [instance]="getRecproFilterRecproElementInstance(element)">
          </app-filter-execution-bpm-element-detail>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Process activities
      </mat-panel-title>
      <mat-panel-description>
        Select process activities that should appear / not appear in your tasklist.
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="clr-row">
      <div *ngFor="let element of bpmElements">
        <div class="clr-col-12" *ngIf="isElementType('PROCESS_ACTIVITY', element)">
          <app-filter-execution-bpm-element-detail
            [bpmElement]="getBpmElement(element)"
            [instance]="getRecproFilterRecproElementInstance(element)">
          </app-filter-execution-bpm-element-detail>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Process roles
      </mat-panel-title>
      <mat-panel-description>
        Select process roles that should appear / not appear in your tasklist.
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="clr-row">
      <div *ngFor="let element of bpmElements">
        <div class="clr-col-12" *ngIf="isElementType('ROLE', element)">
          <app-filter-execution-bpm-element-detail
            [bpmElement]="getBpmElement(element)"
            [instance]="getRecproFilterRecproElementInstance(element)">
          </app-filter-execution-bpm-element-detail>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
