
<clr-datagrid [(clrDgSelected)]="internalFilterUsers" (clrDgSelectedChange)="onInternalFilterUsersChange()">
  <clr-dg-column>User ID</clr-dg-column>
  <clr-dg-column>FirstName</clr-dg-column>
  <clr-dg-column>LastName</clr-dg-column>
  <clr-dg-column>Description</clr-dg-column>
  <clr-dg-row *clrDgItems="let user of availableUsers" [clrDgItem]="user" [clrDgSelected]="user.selected">
    <clr-dg-cell>{{user.user.id}}</clr-dg-cell>
    <clr-dg-cell>{{user.user.firstName}}</clr-dg-cell>
    <clr-dg-cell>{{user.user.lastName}}</clr-dg-cell>
    <clr-dg-cell>{{user.user.description}}</clr-dg-cell>
  </clr-dg-row>
</clr-datagrid>
