<clr-alerts>
  <clr-alert [clrAlertType]="alert.getType()" [clrAlertAppLevel]="true" *ngFor="let alert of alerts">
    <clr-alert-item>
            <span class="alert-text">
                {{alert.getMessage()}}
            </span>
    </clr-alert-item>
  </clr-alert>
</clr-alerts>
