<div class="content-container" style="margin: 20px;">
  <div class="clr-row" style="margin-bottom: 20px;">
    <div class="clr-col-12">
      <h2>Start Process</h2>
    </div>
  </div>
  <div class="clr-row">

  </div>
  <div class="clr-row" *ngFor="let process of processes">
    {{process.name}}
    <button (click)="startProcess(process)">Start</button>
  </div>

  <mat-dialog-actions>
    <button mat-raised-button (click)="cancel()">Cancel</button>
  </mat-dialog-actions>
</div>


