<mat-card class="your-card">
  <mat-card-header class="mat-card-header">
    <mat-card-title>
      Add rating
    </mat-card-title>
  </mat-card-header>
  <mat-divider style="margin-top: 10px; margin-bottom: 10px;"></mat-divider>
  <mat-card-content class="fixed-content">
    <div class="clr-row">
      <div class="clr-col-12">
        <mat-form-field class="clr-col-12" style="width: 100%">
          <mat-label>Rating type</mat-label>
          <mat-select [(ngModel)]="rating.ratingType">
            <mat-option *ngFor="let elementType of typeOptions" [value]="elementType">{{elementType}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="clr-row">
      <div class="clr-col-6">
        <mat-form-field class="clr-col-12" style="width: 100%">
          <mat-label>ID</mat-label>
          <input matInput [(ngModel)]="rating.id" disabled>
        </mat-form-field>
      </div>
      <div class="clr-col-6">
        <mat-form-field class="clr-col-12" style="width: 100%">
          <mat-label>Name</mat-label>
          <input matInput [(ngModel)]="rating.name" required>
        </mat-form-field>
      </div>
    </div>
    <div class="clr-row">
      <div class="clr-col-12">
        <mat-form-field class="clr-col-12" style="width: 100%">
          <mat-label>Description</mat-label>
          <textarea matInput [(ngModel)]="rating.description"></textarea>
        </mat-form-field>
      </div>
    </div>
    <div class="clr-row">
      <div class="clr-col-12">
        <div [ngSwitch]="rating.ratingType">
          <div *ngSwitchCase="'BINARY'">
            <app-binary-rating-detail [rating]="getBinaryRating()">
            </app-binary-rating-detail>
          </div>
          <div *ngSwitchCase="'CONTINUOUS'">
            <app-continuous-rating-detail [rating]="getContinuousRating()">
            </app-continuous-rating-detail>
          </div>
          <div *ngSwitchCase="'INTERVAL_BASED'">
            <app-interval-based-rating-detail [rating]="getIntervalBasedRating()">
            </app-interval-based-rating-detail>
          </div>
          <div *ngSwitchCase="'ORDINAL'">
            <app-ordinal-rating-detail [rating]="getOrdinalRating()">
            </app-ordinal-rating-detail>
          </div>
          <div *ngSwitchCase="'UNARY'">
            <app-unary-rating-detail [rating]="getUnaryRating()">
            </app-unary-rating-detail>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-divider style="margin-top: 10px; margin-bottom: 10px;"></mat-divider>
  <mat-card-actions class="mat-card-actions">
    <button mat-raised-button (click)="log()">Log</button>
    <button mat-raised-button (click)="cancel()">Cancel</button>
    <button mat-raised-button (click)="save()">Save</button>
  </mat-card-actions>
</mat-card>


