<div *ngFor="let attribute of attributes">
  <div [ngSwitch]="getAttributeType(attribute)">
    <div *ngSwitchCase="'NUMERIC'">
      <app-numeric-attribute
        [disabled]="disabled"
        [attribute]="getRecproNumericAttribute(attribute)"
        [instance]="getRecproNumericAttributeInstance(attribute)"
      ></app-numeric-attribute>
    </div>
    <div *ngSwitchCase="'TEXT'">
      <app-textual-attribute
        [disabled]="disabled"
        [attribute]="getRecproTextualAttribute(attribute)"
        [instance]="getRecproTextualAttributeInstance(attribute)"
      ></app-textual-attribute>
    </div>
    <div *ngSwitchCase="'META'">
      <app-meta-attribute
        [attribute]="getRecproMetaAttribute(attribute)"
        [instance]="getRecproMetaAttributeInstance(attribute)"
      ></app-meta-attribute>
    </div>
    <div *ngSwitchCase="'BINARY'">
      <app-binary-attribute
        [disabled]="disabled"
        [attribute]="getRecproBinaryAttribute(attribute)"
        [instance]="getRecproBinaryAttributeInstance(attribute)"
      ></app-binary-attribute>
    </div>
  </div>
</div>
