<clr-main-container>
  <app-navbar-header></app-navbar-header>

  <div class="content-container">
    <div class="content-area">
      <app-alert></app-alert>
      <router-outlet></router-outlet>
    </div>
    <clr-vertical-nav [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapsed">
      <clr-vertical-nav-group
        routerLinkActive="active">
        <a routerLink="./bpm" hidden aria-hidden="true">
        </a>
        <cds-icon shape="user" clrVerticalNavIcon></cds-icon>
        BPM
        <clr-vertical-nav-group-children *clrIfExpanded="true">
          <a clrVerticalNavLink
             routerLink="./bpm/modeling"
             routerLinkActive="active">
            Modeling
          </a>
          <a clrVerticalNavLink
             routerLink="./bpm/execution"
             routerLinkActive="active">
            Execution
          </a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>
      <clr-vertical-nav-group
        routerLinkActive="active">
        <a routerLink="./filter/modeling" hidden aria-hidden="true">
        </a>
        <cds-icon shape="filter" clrVerticalNavIcon></cds-icon>
        Filter
        <clr-vertical-nav-group-children *clrIfExpanded="true">
          <a clrVerticalNavLink
             routerLink="./filter/modeling/knowledgeBased"
             routerLinkActive="active">
            Knowledge-based filtering
          </a>
          <a clrVerticalNavLink
             routerLink="./filter/modeling/contentBased"
             routerLinkActive="active">
            Content-based filtering
          </a>
          <a clrVerticalNavLink
             routerLink="./filter/modeling/collaborative"
             routerLinkActive="active">
            Collaborative filtering
          </a>
          <a clrVerticalNavLink
             routerLink="./filter/modeling/hybrid"
             routerLinkActive="active">
            Hybrid filtering
          </a>
          <a clrVerticalNavLink
             routerLink="./filter/modeling/all"
             routerLinkActive="active">
            All
          </a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>
      <clr-vertical-nav-group
        routerLinkActive="active">
        <a routerLink="./attribute" hidden aria-hidden="true">
        </a>
        <cds-icon shape="filter" clrVerticalNavIcon></cds-icon>
        Attribute
        <clr-vertical-nav-group-children *clrIfExpanded="true">
          <a clrVerticalNavLink
             routerLink="./attribute/modeling"
             routerLinkActive="active">
            Modeling
          </a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>

      <clr-vertical-nav-group
        routerLinkActive="active">
        <a routerLink="./rating/modeling" hidden aria-hidden="true">
        </a>
        <cds-icon shape="filter" clrVerticalNavIcon></cds-icon>
        Rating
        <clr-vertical-nav-group-children *clrIfExpanded="true">
          <a clrVerticalNavLink
             routerLink="./rating/modeling/"
             routerLinkActive="active">
            Modeling
          </a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>

      <a clrVerticalNavLink
         routerLink="./modeling/ontology/"
         routerLinkActive="active">
        Ontology
      </a>
      <a clrVerticalNavLink
         routerLink="./modeling/users/"
         routerLinkActive="active">
        Users
      </a>
    </clr-vertical-nav>
  </div>


</clr-main-container>

<ngx-spinner type="ball-spin-clockwise-fade" color="#189c91" bdColor="rgb(73, 73, 73, 0.7)" size="medium"></ngx-spinner>


