<div class="clr-row">
  <div class="clr-col-12">
    <mat-radio-group [(ngModel)]="binaryRatingInstance.value">
      <mat-radio-button [value]="true">{{binaryRating.trueLabel}}</mat-radio-button>
      <mat-radio-button [value]="false">{{binaryRating.falseLabel}}</mat-radio-button>
    </mat-radio-group>
  </div>
</div>
