<div class="clr-row">
  <div class="clr-col-12">
    <app-start-process></app-start-process>
  </div>
</div>
<div class="clr-row">
  <div class="clr-col-lg-3 clr-col-md-5">
    <mat-card style="height: 80vh">
      <mat-card-header class="mat-card-header">
        <div class="clr-col-12">
          <h3>Tasklist</h3>
        </div>
        <br>

      </mat-card-header>
      <mat-divider style="margin-top: 10px; margin-bottom: 10px;"></mat-divider>
      <mat-card-content>
        <div class="clr-row" style="margin-bottom: 10px;">
          <div class="clr-col-3">
            <button class="btn btn-icon" (click)="openFilter()" matTooltip="Filter current tasklist.">
              <cds-icon shape="filter" class="cds-icon-green" ></cds-icon>
            </button>
          </div>
          <div class="clr-col-3">
            <button class="btn btn-icon" (click)="setReverse()" *ngIf="tasklist.baseFilter.filterInstance.ascending" matTooltip="Sort descending.">
              <cds-icon direction="down" shape="circle-arrow" class="cds-icon-green" ></cds-icon>
            </button>
            <button class="btn btn-icon" (click)="setReverse()" *ngIf="!tasklist.baseFilter.filterInstance.ascending" matTooltip="Sort ascending.">
              <cds-icon direction="up" shape="circle-arrow" class="cds-icon-green" ></cds-icon>
            </button>
          </div>
          <div class="clr-col-3">
            <button class="btn btn-icon" (click)="resetTask()" matTooltip="Deselect task.">
              <cds-icon direction="up" shape="window-close" class="cds-icon-green"></cds-icon>
            </button>
          </div>
        </div>
        <div class="clr-row" style="width: 100%;">
          <mat-form-field class="clr-col-12" style="width: 100%">
            <mat-label>Order by</mat-label>
            <mat-select [(ngModel)]="tasklist.baseFilter.filterInstance.tasklistOrder" (selectionChange)="saveFilter(tasklist.baseFilter.filterInstance)">
              <mat-option *ngFor="let orderByType of orderByOptions" [value]="orderByType">{{orderByType}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-divider style="margin-top: 10px; margin-bottom: 10px;"></mat-divider>
      <mat-card-content class="fixed-content">
        <div class="scrollable-content" style="min-height: 58vh; max-height: 58vh;">
          <app-tasklist [tasklist]="tasklist"></app-tasklist>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="clr-col-lg-9 clr-col-md-7" *ngIf="currentTask && currentTask.id !== -1">
    <app-task-detail></app-task-detail>
  </div>
  <div class="clr-col-lg-9 clr-col-md-7" *ngIf="!currentTask || currentTask.id === -1">
    <app-bpm-similarities></app-bpm-similarities>
  </div>
</div>
