<div class="clr-row">
  <div class="clr-col-12">
    <mat-card style="">
      <mat-card-header class="mat-card-header">
        <div class="clr-col-12">
          <h3>Filters</h3>
        </div>
        <br>
      </mat-card-header>
      <mat-divider style="margin-top: 10px; margin-bottom: 10px;"></mat-divider>
      <mat-card-content class="fixed-content">
        <div class="scrollable-content" style="">
          <clr-datagrid>
            <clr-dg-column>Filter ID</clr-dg-column>
            <clr-dg-column>Name</clr-dg-column>
            <clr-dg-column>Description</clr-dg-column>
            <clr-dg-column>FilterUrl</clr-dg-column>
            <clr-dg-column>FilterType</clr-dg-column>
            <clr-dg-column>Remove</clr-dg-column>
            <clr-dg-column>Edit</clr-dg-column>

            <clr-dg-row *clrDgItems="let filter of filters" [clrDgItem]="filter">

              <clr-dg-cell>{{filter.id}}</clr-dg-cell>

              <clr-dg-cell>{{filter.name}}</clr-dg-cell>
              <clr-dg-cell>{{filter.description}}</clr-dg-cell>
              <clr-dg-cell>{{filter.filterUrl}}</clr-dg-cell>
              <clr-dg-cell>{{filter.filterType}}</clr-dg-cell>
              <clr-dg-cell (click)="deleteFilter(filter)">
                <cds-icon shape="trash"></cds-icon>
              </clr-dg-cell>
              <clr-dg-cell (click)="editFilter(filter)" clr-align-center>
                <cds-icon shape="pencil"></cds-icon>
              </clr-dg-cell>
            </clr-dg-row>

            <clr-dg-footer>
              <div class="clr-row">
                <div class="clr-col-1">
                  <button mat-stroked-button style="margin: 3px;" (click)="addFilter()">Add filter</button>
                </div>
                <div class="clr-col-11">
                  {{filters.length}} filters
                </div>
              </div>
            </clr-dg-footer>
          </clr-datagrid>


        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
