<div class="clr-row">
  <div class="clr-col-6">
    <mat-form-field class="clr-col-12" style="width: 100%">
      <mat-label>Attribute type</mat-label>
      <mat-select [(ngModel)]="attribute.attributeType">
        <mat-option *ngFor="let elementType of typeOptions" [value]="elementType">{{elementType}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="clr-col-6">
    <mat-form-field class="clr-col-12" style="width: 100%">
      <mat-label>ID</mat-label>
      <input matInput [(ngModel)]="attribute.id" disabled>
    </mat-form-field>
  </div>
</div>
<div class="clr-row">
  <div class="clr-col-6">
    <mat-form-field class="clr-col-12" style="width: 100%">
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="attribute.name" required>
    </mat-form-field>
  </div>
  <div class="clr-col-6">
    <mat-form-field class="clr-col-12" style="width: 100%">
      <mat-label>BPMS ID</mat-label>
      <input matInput [(ngModel)]="attribute.bpmsAttributeId">
    </mat-form-field>
  </div>
</div>
<div class="clr-row">
  <div class="clr-col-6">
    <mat-form-field class="clr-col-12" style="width: 100%">
      <mat-label>Load attribute from url</mat-label>
      <input matInput [(ngModel)]="attribute.fromUrl">
    </mat-form-field>
  </div>
  <div class="clr-col-6">
    <mat-form-field class="clr-col-12" style="width: 100%">
      <mat-label>URL</mat-label>
      <input matInput [(ngModel)]="attribute.url" [disabled]="!attribute.fromUrl" [required]="attribute.fromUrl">
    </mat-form-field>
  </div>
</div>
<div class="clr-row">
  <div class="clr-col-12">
    <mat-form-field class="clr-col-12" style="width: 100%">
      <mat-label>Description</mat-label>
      <textarea matInput [(ngModel)]="attribute.description"></textarea>
    </mat-form-field>
  </div>
</div>
<div class="clr-row">
  <form *ngIf="attribute" class="clr-col-12">
    <div [ngSwitch]="attribute.attributeType">
      <div *ngSwitchCase="'TEXT'" >
        <app-textual-attribute-modeling
          [attribute]="getTextualAttribute()"
        ></app-textual-attribute-modeling>
      </div>
      <div *ngSwitchCase="'BINARY'">
        <app-binary-attribute-modeling
          [attribute]="getBinaryAttribute()"></app-binary-attribute-modeling>
      </div>
      <div *ngSwitchCase="'NUMERIC'">
        <app-numerical-attribute-modeling
          [attribute]="getNumericAttribute()"></app-numerical-attribute-modeling>
      </div>
      <div *ngSwitchCase="'META'">
        <app-meta-attribute-modeling
          [attribute]="getMetaAttribute()"></app-meta-attribute-modeling>
      </div>
    </div>
  </form>
</div>
