<div class="clr-row">
  <div class="clr-col-6">
    <mat-form-field class="clr-col-12" style="width: 100%">
      <mat-label>True label</mat-label>
      <input matInput [(ngModel)]="rating.trueLabel">
    </mat-form-field>
  </div>
  <div class="clr-col-6">
    <mat-form-field class="clr-col-12" style="width: 100%">
      <mat-label>False label</mat-label>
      <input matInput [(ngModel)]="rating.falseLabel">
    </mat-form-field>
  </div>
</div>

<div class="clr-row">
  <div class="clr-col-12">
    <mat-label>Default value:</mat-label>
    <mat-radio-group [(ngModel)]="rating.defaultValue">
      <mat-radio-button [value]="true">{{rating.trueLabel}}</mat-radio-button>
      <mat-radio-button [value]="false">{{rating.falseLabel}}</mat-radio-button>
    </mat-radio-group>
  </div>
</div>
