<div *ngIf="bpmElement && instance">
  <mat-checkbox [indeterminate]="instance.state === 'NEUTRAL'" [ngModel]="instance.state === 'TRUE'"
                (ngModelChange)="changeElementStatus(instance)"></mat-checkbox>
  <mat-label>{{bpmElement.name}}</mat-label>
</div>
