<mat-card class="your-card">
  <mat-card-header class="mat-card-header">
    <mat-card-title>
      Rate task
    </mat-card-title>
  </mat-card-header>
  <mat-divider style="margin-top: 10px; margin-bottom: 10px;"></mat-divider>
  <mat-card-content class="fixed-content">
    <div class="clr-row">
      <div class="clr-col-12">
        <div [ngSwitch]="rating.rating.ratingType">
          <div *ngSwitchCase="'BINARY'">
            <app-binary-rating-execution-detail
              [binaryRating]="getBinaryRating()"
              [binaryRatingInstance]="getBinaryRatingInstance()"
            ></app-binary-rating-execution-detail>
          </div>
          <div *ngSwitchCase="'CONTINUOUS'">
            <app-continuous-rating-execution-detail
              [continuousRating]="getContinuousRating()"
              [continuousRatingInstance]="getContinuousRatingInstance()"
            ></app-continuous-rating-execution-detail>
          </div>
          <div *ngSwitchCase="'INTERVAL_BASED'">
            <app-interval-based-rating-execution-detail
              [intervalBasedRating]="getIntervalBasedRating()"
              [intervalBasedRatingInstance]="getIntervalBasedRatingInstance()"
            ></app-interval-based-rating-execution-detail>
          </div>
          <div *ngSwitchCase="'ORDINAL'">
            <app-ordinal-rating-execution-detail
              [ordinalRating]="getOrdinalRating()"
              [ordinalRatingInstance]="getOrdinalRatingInstance()"
            ></app-ordinal-rating-execution-detail>
          </div>
          <div *ngSwitchCase="'UNARY'">
            <app-unary-rating-execution-detail
              [unaryRating]="getUnaryRating()"
              [unaryRatingInstance]="getUnaryRatingInstance()"
            ></app-unary-rating-execution-detail>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-divider style="margin-top: 10px; margin-bottom: 10px;"></mat-divider>
  <mat-card-actions class="mat-card-actions">
    <button mat-raised-button (click)="log()">Log</button>
    <button mat-raised-button (click)="cancel()">Cancel</button>
    <button mat-raised-button (click)="save()">Save</button>
  </mat-card-actions>
</mat-card>


