<clr-vertical-nav [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapsed" style="height: 85vh;">
  <a clrVerticalNavLink routerLink="./normal" routerLinkActive="active">
    <cds-icon clrVerticalNavIcon shape="user"></cds-icon>
    Normal
  </a>
  <a clrVerticalNavLink routerLink="./electric" routerLinkActive="active">
    <cds-icon clrVerticalNavIcon shape="bolt"></cds-icon>
    Electric
  </a>
  <a clrVerticalNavLink routerLink="./poison" routerLinkActive="active">
    <cds-icon clrVerticalNavIcon shape="sad-face"></cds-icon>
    Poison
  </a>
  <a clrVerticalNavLink routerLink="./grass" routerLinkActive="active">
    <cds-icon clrVerticalNavIcon shape="bug"></cds-icon>
    Grass
  </a>
  <a clrVerticalNavLink routerLink="./fighting" routerLinkActive="active">
    <cds-icon clrVerticalNavIcon shape="shield"></cds-icon>
    Fighting
  </a>
  <a clrVerticalNavLink routerLink="./credit" routerLinkActive="active">
    <cds-icon clrVerticalNavIcon shape="certificate"></cds-icon>
    Credit
  </a>
</clr-vertical-nav>
