@use '@angular/material' as mat;

@include mat.core();

$custom-palette-grey: (
  50: #fbfbfb,
  100: #f6f6f6,
  200: #f1f1f1,
  300: #e7e7e7,
  400: #c5c5c5,
  500: #a7a7a7,
  600: #7d7d7d,
  700: #686868,
  800: #494949,
  900: #272727,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(black, 0.87),
    600: rgba(black, 0.87),
    700: rgba(black, 0.87),
    800: rgba(black, 0.87),
    900: rgba(black, 0.87),
  )
);

$custom-palette-green: (
  50: #e1f3f2,
  100: #b4e1de,
  200: #84ceca,
  300: #53bbb3,
  400: #30aba2,
  500: #189c91,
  600: #168f84,
  700: #137e73,
  800: #116e64,
  900: #0e5247,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(black, 0.87),
    600: rgba(black, 0.87),
    700: rgba(black, 0.87),
    800: rgba(black, 0.87),
    900: rgba(black, 0.87),
  )
);

$my-primary: mat.define-palette($custom-palette-grey, 800);
$my-accent: mat.define-palette($custom-palette-green, 500);


$custom-theme: mat.define-light-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

@include mat.all-component-themes($custom-theme);
