/* You can add global styles to this file, and also import other style files */

/*@import "../node_modules/@angular/material/prebuilt-themes/purple-green.css";*/

@import "custom-theme.scss";

@import '@angular/material/theming';
//@include angular-material-theme($custom-theme);


span.circle {
  background: #e3e3e3;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  color: #6e6e6e;
  display: inline-block;
  font-weight: bold;
  line-height: 40px;
  margin-right: 5px;
  text-align: center;
  width: 40px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-step-header .mat-step-icon-selected {
  background-color: green;
}

.mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
  background-color: green;
}

.mat-card-header,
.mat-card-actions {
  position: sticky;
  top: 0;
  background-color: white; /* Hintergrundfarbe des Headers und der Actions anpassen */
  z-index: 1; /* Überlagert den Inhalt */
  padding: 16px; /* Anpassen Sie den Abstand nach Bedarf */
}

/* Stil für den nicht scrollbaren Inhalt */
.fixed-content {
  /* Fügen Sie Ihren Stil für den nicht scrollbaren Inhalt hinzu */
}

/* Stil für den scrollbaren Inhalt innerhalb der Mat-Tabs */
.scrollable-content {
  min-height: 550px; /* Anpassen Sie die maximale Höhe nach Bedarf */
  max-height: 550px;
  overflow-y: auto; /* Fügen Sie eine vertikale Scrollleiste hinzu, wenn der Inhalt die maximale Höhe überschreitet */
}

.datagrid-detail-caret {

}

.datagrid-detail-caret-button.is-open {
  background-color: mat-color($my-accent) !important;
}

.btn-group .btn {
  border-color:  mat-color($my-accent);
  color:  mat-color($my-accent);
}

.btn-icon {
  border-color:  mat-color($my-accent);
  color:  mat-color($my-accent);
}

.cds-icon-green {
  color:  mat-color($my-accent) !important;
}
