<div class="clr-row">
  <div class="clr-col-12">
    <mat-card style="">
      <mat-card-header class="mat-card-header">
        <div class="clr-col-12">
          <h3>Rating</h3>
        </div>
        <br>
      </mat-card-header>
      <mat-divider style="margin-top: 10px; margin-bottom: 10px;"></mat-divider>
      <mat-card-content class="fixed-content">
        <div class="scrollable-content" style="">

          <div class="clr-row">
            <mat-form-field class="clr-col-12" style="width: 100%">
              <mat-label>Default rating:</mat-label>
              <mat-select [(ngModel)]="defaultRating.id" (selectionChange)="setDefaultRating($event.value)">
                <mat-option *ngFor="let rating of ratings" [value]="rating.id">{{rating.name}} ({{rating.id}})</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <clr-datagrid>
            <clr-dg-column>Rating ID</clr-dg-column>
            <clr-dg-column>Name</clr-dg-column>
            <clr-dg-column>Description</clr-dg-column>
            <clr-dg-column>Type</clr-dg-column>
            <clr-dg-column>Remove</clr-dg-column>
            <clr-dg-column>Edit</clr-dg-column>

            <clr-dg-row *clrDgItems="let rating of ratings" [clrDgItem]="rating">
              <clr-dg-cell>{{rating.id}}</clr-dg-cell>
              <clr-dg-cell>{{rating.name}}</clr-dg-cell>
              <clr-dg-cell>{{rating.description}}</clr-dg-cell>
              <clr-dg-cell>{{rating.ratingType}}</clr-dg-cell>
              <clr-dg-cell (click)="deleteRating(rating)">
                <cds-icon shape="trash"></cds-icon>
              </clr-dg-cell>
              <clr-dg-cell (click)="editRating(rating)" clr-align-center>
                <cds-icon shape="pencil"></cds-icon>
              </clr-dg-cell>
            </clr-dg-row>
            <clr-dg-footer>
              <div class="clr-row">
                <div class="clr-col-1">
                  <button mat-stroked-button style="margin: 3px;" (click)="addRating()">Add rating</button>
                </div>
                <div class="clr-col-11">
                  {{ratings.length}} ratings
                </div>
              </div>
            </clr-dg-footer>
          </clr-datagrid>

        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
